/* Font Imports ---------------------------------------- */

@font-face {
	font-family: "Raleway";
	font-weight: 400;
	font-style: normal;
	src:
		url("/assets/fonts/Raleway-Regular.woff2") format("woff2"),
		url("/assets/fonts/Raleway-Regular.woff") format("woff");
	font-display: swap;
}

@font-face {
	font-family: "Raleway";
	font-weight: 300;
	font-style: normal;
	src:
		url("/assets/fonts/Raleway-Light.woff2") format("woff2"),
		url("/assets/fonts/Raleway-Light.woff") format("woff");
	font-display: swap;
}

@font-face {
	font-family: "Lato";
	font-weight: 400;
	font-style: normal;
	src:
		url("/assets/fonts/Lato-Regular.woff2") format("woff2"),
		url("/assets/fonts/Lato-Regular.woff") format("woff");
	font-display: swap;
}

@font-face {
	font-family: "Lato";
	font-weight: 300;
	font-style: normal;
	src:
		url("/assets/fonts/Lato-Light.woff2") format("woff2"),
		url("/assets/fonts/Lato-Light.woff") format("woff");
	font-display: swap;
}

@font-face {
	font-family: "Oswald";
	font-weight: 700;
	font-style: normal;
	src:
		url("/assets/fonts/Oswald-Bold.woff2") format("woff2"),
		url("/assets/fonts/Oswald-Bold.woff") format("woff");
	font-display: swap;
}

/* Reset ----------------------------------------------- */

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* 2. Remove default margin */
* {
	margin: 0;
}

body {
	/* 3. Add accessible line-height */
	line-height: 1.2;
	/* 4. Improve text rendering */
	-webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
	font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
	isolation: isolate;
}

button {
	cursor: pointer;
}

/* Variables ------------------------------------------- */

:root {
	/* Fonts (w/ System Font Stack) */
	--font-heading: "Raleway", sans-serif;
	--font-body: "Lato", sans-serif;

	/* Font sizes */
	--font-body-s: 1rem;
	--font-body-m: 1rem;
	--font-body-l: 1.25rem;

	--font-heading-s: 1.5rem;
	--font-heading-m: 2rem;
	--font-heading-l: 3rem;

	/* Colors */
	--color-white: #fff;
	--color-black: #0c0d0c;
	--color-greyscale-1: #303630;
	--color-greyscale-2: #616b61;
	--color-greyscale-3: #949e94;
	--color-bronze-1: #cc8328;
	--color-bronze-2: #e59c42;
	--color-bronze-3: #ecb46f;
	--color-bronze-4: #f2cb9c;
	--color-bronze-5: #f6e8d5;
	--color-bronze-6: #e8d0b0;
	--color-bronze-7: #f6dcbb;
	--color-pine-1: #212c21;
	--color-pine-2: #374937;
	--color-pine-3: #527a52;
	--color-pine-4: #99b299;
	--color-pine-5: #b6c8b6;
	--color-pine-6: #425742;
	--color-footer: #1d201d;

	/* Spacing */
	--padding-inline: 1rem;
	--padding-block: 2rem;
	--spacing-xs: 0.25rem;
	--spacing-s: 0.5rem;
	--spacing-m: 1rem;
	--spacing-l: 2rem;
	--spacing-xl: 4rem;
}

@media screen and (max-width: 375px) {
	:root {
		--font-heading-l: 2rem;
	}
}

@media screen and (min-width: 640px) {
	:root {
		/* Spacing */
		--padding-inline: 2rem;
	}
}

@media screen and (min-width: 768px) {
	:root {
		/* Font sizes */
		--font-heading-s: 2rem;
		--font-heading-m: 2.5rem;
		--font-heading-l: 3rem;
	}
}

@media screen and (min-width: 1024px) {
	:root {
		/* Spacing */
		--padding-inline: 6rem;
		--padding-block: 4rem;
	}
}

@media screen and (min-width: 1440px) {
	:root {
		/* Font sizes */
		--font-body-s: 1.1rem;
		--font-body-m: 1.3rem;
		--font-body-l: 1.5rem;

		--font-heading-m: 3rem;
		--font-heading-l: 3.5rem;

		/* Spacing */
		--padding-inline: 8rem;
	}
}

@media screen and (min-width: 1536px) {
	:root {
		/* Padding */
		--padding-inline: 10rem;
	}
}

/* Global Styles --------------------------------------- */

html {
	overflow-x: hidden;
	background-color: var(--color-bronze-5);
}

/* * {
	scrollbar-color: var(--color-pine-1) var(--color-pine-5);
}

*::-webkit-scrollbar-track {
	background-color: var(--color-pine-5);
}

*::-webkit-scrollbar-thumb {
	background-color: var(--color-pine-1);
} */

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-heading);
	padding: 0;
	margin: 0 0 1rem 0;
	font-weight: 300;
}

/* All heading selections */
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection {
	color: var(--color-white, #fff);
	background-color: var(--color-bronze-2);
}

*:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6)::selection {
	color: var(--color-white, #fff);
	background-color: var(--color-pine-3);
}

*:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
	font-family: var(--font-body);
}

p {
	margin-bottom: var(--spacing-s, 0.25rem);
}

a {
	text-decoration: none;
	color: inherit;
}

a:visited {
	color: inherit;
}

section {
	padding-inline: var(--padding-inline);
	padding-block: var(--padding-block);
}

*:focus-visible {
	outline: 2px solid var(--color-bronze-2);
	transition: none;
}

span.material-icons {
	font-size: 1.25rem;
}

/* Utilities ------------------------------------------- */

.button {
	border: none;
	white-space: nowrap;
	width: fit-content;
	padding: var(--spacing-m) var(--spacing-l);
	border-radius: 0.5rem;
	font-size: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: var(--spacing-xs);
	cursor: pointer;
	transition: 0.2s;
}

.button:focus-visible {
	transition: outline 0s;
}

.button:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.button-primary,
.button-primary:visited {
	color: var(--color-white, #fff);
	background-color: var(--color-pine-3);
}

.button-secondary,
.button-secondary:visited {
	color: var(--color-pine-4);
	background-color: transparent;
	border: 2px solid var(--color-pine-4);
}

@media (hover: hover) {
	.button-primary:hover {
		background-color: var(--color-bronze-2);
		box-shadow: 0 0 0.5rem var(--color-bronze-2);
	}

	.button-secondary:hover {
		color: var(--color-pine-2);
		background-color: var(--color-pine-4);
		box-shadow: 0 0 0.5rem var(--color-pine-4);
	}
}

.button-link {
	color: inherit;
	text-decoration: underline;
	white-space: nowrap;
	background-color: transparent;
	padding: 0;
	font-weight: 700;
	border-radius: 0;
}

input {
	accent-color: var(--color-primary);
}

.text-input {
	border: none;
	border-bottom: 2px solid var(--color-black, #000);
	padding: 0.25rem 0;
	width: 100%;
	font-size: var(--font-body-s);
	transition: border-color 0.2s ease-in-out;
	background-color: transparent;
}

.text-input:focus-visible {
	border-color: var(--color-bronze-2);
	outline: none;
}

.text-input:user-invalid {
	border-color: var(--color-error, red);
}

.surface {
	background-color: var(--color-bronze-5);
	border-radius: 0.5rem;
	box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
	padding: var(--spacing-m) var(--spacing-l);
}

/* Google maps link removal ---------------------------- */

a[href^="http://maps.google.com/maps"]
{
	display: none !important;
}
a[href^="https://maps.google.com/maps"]
{
	display: none !important;
}

.gmnoprint a,
.gmnoprint span,
.gm-style-cc {
	display: none;
}
.gmnoprint div {
	background: none !important;
}

.gm-style iframe + div {
	border: none !important;
}
