/* Font Imports ---------------------------------------- */

/* @font-face {
	font-family: "Mogra";
	font-weight: 400;
	font-style: normal;
	src:
		url("/assets/fonts/Mogra-Regular.woff2") format("woff2"),
		url("/assets/fonts/Mogra-Regular.woff") format("woff");
	font-display: swap;
} */

/* Reset ----------------------------------------------- */

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* 2. Remove default margin */
* {
	margin: 0;
}

body {
	/* 3. Add accessible line-height */
	line-height: 1.2;
	/* 4. Improve text rendering */
	-webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
	font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
	isolation: isolate;
}

button {
	cursor: pointer;
}

/* Variables ------------------------------------------- */

:root {
	/* Fonts (w/ System Font Stack) */
	--font-heading: sans-serif;
	--font-body: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

	/* Font sizes */
	--font-body-s: 1rem;
	--font-body-m: 1rem;
	--font-body-l: 1.25rem;

	--font-heading-s: 1.5rem;
	--font-heading-m: 2rem;
	--font-heading-l: 3rem;

	/* Colors */
	--color-black: #000;
	--color-white: #fff;

	/* Spacing */
	--padding-inline: 1rem;
	--padding-block: 2rem;
	--spacing-xs: 0.25rem;
	--spacing-s: 0.5rem;
	--spacing-m: 1rem;
	--spacing-l: 2rem;
	--spacing-xl: 4rem;
}

@media screen and (max-width: 375px) {
	:root {
		--font-heading-l: 2rem;
	}
}

@media screen and (min-width: 768px) {
	:root {
		/* Font sizes */
		--font-heading-s: 2rem;
		--font-heading-m: 3rem;
		--font-heading-l: 4rem;

		/* Spacing */
		--padding-inline: 2rem;
	}
}

@media screen and (min-width: 1024px) {
	:root {
		/* Spacing */
		--padding-inline: 4rem;
		--padding-block: 4rem;
	}
}

@media screen and (min-width: 1440px) {
	:root {
		/* Font sizes */
		--font-body-s: 1.1rem;
		--font-body-m: 1.3rem;
		--font-body-l: 1.5rem;

		--font-heading-s: 2.5rem;
		--font-heading-m: 4rem;
		--font-heading-l: 5rem;

		/* Spacing */
		--padding-inline: 6rem;
	}
}

@media screen and (min-width: 1536px) {
	:root {
		/* Padding */
		--padding-inline: 8rem;
	}
}

/* Global Styles --------------------------------------- */

html {
	overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-heading), sans-serif;
	padding: 0;
	text-transform: capitalize;
	margin: 0 0 1rem 0;
}

p {
	margin-bottom: var(--spacing-s, 0.25rem);
}

*:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
	font-family: var(--font-body), sans-serif;
}

*::selection {
	color: var(--color-white, #fff);
	background-color: var(--color-primary, #000);
}

a {
	text-decoration: none;
	color: inherit;
}

a:visited {
	color: inherit;
}

section {
	padding-inline: var(--padding-inline);
}

*:focus-visible {
	outline: 2px solid var(--color-primary, blue);
	transition: none;
}

span.material-icons {
	font-size: 1.25rem;
}

/* Utilities ------------------------------------------- */

.button {
	border: none;
	white-space: nowrap;
	width: fit-content;
	height: 40px;
	padding: var(--spacing-xs) var(--spacing-s);
	border-radius: 0.5rem;
	font-size: var(--font-body-s);
	font-family: var(--font-heading, sans-serif);
	font-weight: 700;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: var(--spacing-xs);
	cursor: pointer;
}

@media screen and (min-width: 768px) {
	.button {
		padding: var(--spacing-s) var(--spacing-m);
	}
}

.button:focus-visible {
	outline: 2px solid var(--color-primary, blue);
	transition: outline 0s;
}

.button:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.button-primary {
	color: var(--color-white, #fff);
	background-color: var(--color-primary, #000);
	border: 2px solid var(--color-black, #000);
}

/* .button-secondary {
} */

.button-link {
	color: inherit;
	text-decoration: underline;
	white-space: nowrap;
	background-color: transparent;
	padding: 0;
	font-weight: 700;
	border-radius: 0;
}

input {
	accent-color: var(--color-primary);
}

.text-input {
	border: 1px solid var(--color-black, #000);
	border-radius: var(--spacing-s);
	padding: var(--spacing-s);
	width: 100%;
	font-size: var(--font-body-s);
	transition: border-color 0.2s ease-in-out;
}

.text-input:focus-visible {
	border-color: var(--color-primary, blue);
	outline: 1px solid var(--color-primary, blue);
	transition: none;
}
.text-input:user-invalid {
	border-color: var(--color-error, red);
}

.surface {
	background-color: var(--color-white);
	border-radius: 0.5rem;
	box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
	padding: var(--spacing-m) var(--spacing-l);
}

/* Google maps link removal ---------------------------- */

a[href^="http://maps.google.com/maps"]
{
	display: none !important;
}
a[href^="https://maps.google.com/maps"]
{
	display: none !important;
}

.gmnoprint a,
.gmnoprint span,
.gm-style-cc {
	display: none;
}
.gmnoprint div {
	background: none !important;
}

.gm-style iframe + div {
	border: none !important;
}
